<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/hibernate-mysql.properties" />
	</bean>
	
	<bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="/WEB-INF/hibernate-mysql.properties" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	
	<bean id="fileBasedProviderWeb" class="org.jlocalizer.provider.ui.web.file.FileBasedProviderWebUi">
		<constructor-arg>
			<list>
				<bean class="org.jlocalizer.provider.ui.web.file.source.svn.SubversionSourceWeb" />
			</list>
		</constructor-arg>
		<constructor-arg>
			<list>
				<bean class="org.jlocalizer.provider.ui.web.file.format.KeyValueFormatWebUi" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="providerWebManager" class="org.jlocalizer.frontend.web.JLocalizerProviders">
		<constructor-arg>
			<list>
				<ref local="fileBasedProviderWeb"/>
			</list>
		</constructor-arg>
	</bean>
	
</beans>
